@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #fffa;
}

.blob {
  background: radial-gradient(circle at 50% 50%, #444, #56557e);
  animation: blob 10s infinite;
}

@keyframes blob {
  0%,
  100% {
    border-radius: 50% 50% 50% 50%;
  }
  25% {
    border-radius: 60% 40% 50% 50%;
  }
  50% {
    border-radius: 50% 60% 40% 50%;
  }
  75% {
    border-radius: 50% 50% 60% 40%;
  }
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  line-clamp: 3; /* Standard property for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
